
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital@1&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #eef8ff;
}
a{
    text-decoration: none;
}

/*==================== HEADER-SECTION ======================*/
.header{
    
}
.main{
   
}
.nav-bar{
    background-color: #E3B7A0;
}
.logo-container{
    height: fit-content;
}
.logo{
    color: #eef8ff;
    font-family: 'Caudex', serif;
    font-size: 40px;
    font-weight:  bolder;
    margin: 0;
}
.nav__menu{
    
   
}
.menu__item{
    
}
.item__link{
    text-decoration: none;
    color: #eef8ff;
    font-size: 18px;
    padding: 10px 20px;
}

/*POPULAR SECTION*/
.popular-text{
    margin-bottom: 40px;
}
.item-a{
    padding: 0 40px;
    width: 80%;
    margin-bottom: 40px;
}
.card-container{
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;

}
.model-window{
    height: 100%;
}
.slide-img{
    height:300px;
}
.box{
    position: relative;
    background-color: #F3F1F5;
    border-radius: 10px;
}
.more-link{
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    background-color: #BF9270;
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    z-index: 100000;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
}
.info-container{
    background-color: white;
    height: 50px;
}